assignment/flows.json
[{"id":"78f7d588.c3cbb4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95b23819.09f658","type":"ui_gauge","z":"78f7d588.c3cbb4","name":"","group":"f51aeb3f.9cbe78","order":1,"width":0,"height":0,"gtype":"gage","title":"Target Temp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"989da083.b26ae","type":"ui_slider","z":"78f7d588.c3cbb4","name":"","label":"","tooltip":"","group":"f51aeb3f.9cbe78","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":500,"y":440,"wires":[["95b23819.09f658","a5d032f7.57aa9"]]},{"id":"2dc6543f.816224","type":"comment","z":"78f7d588.c3cbb4","name":"Target UI","info":"","x":511,"y":400,"wires":[]},{"id":"90d412fc.07e04","type":"ui_gauge","z":"78f7d588.c3cbb4","name":"","group":"f5bcdc96.2815e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":540,"wires":[]},{"id":"d754e075.b31bd8","type":"ui_text","z":"78f7d588.c3cbb4","group":"143aea61.78a1e6","order":2,"width":0,"height":0,"name":"","label":"Leaderboard","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":680,"wires":[]},{"id":"ff1dcbb6.83cf88","type":"comment","z":"78f7d588.c3cbb4","name":"Current UI","info":"","x":511,"y":480,"wires":[]},{"id":"a3cb114.c8b907","type":"comment","z":"78f7d588.c3cbb4","name":"Memory Game","info":"","x":520,"y":640,"wires":[]},{"id":"74a4477c.5e08f","type":"comment","z":"78f7d588.c3cbb4","name":"Smart Fan","info":"","x":511,"y":360,"wires":[]},{"id":"7a4d9d1a.9d71ec","type":"arduino in","z":"78f7d588.c3cbb4","name":"IR Input","pin":"12","state":"INPUT","arduino":"d423d15f.04b2d","x":250,"y":680,"wires":[["d754e075.b31bd8"]]},{"id":"51b4936f.07498c","type":"arduino in","z":"78f7d588.c3cbb4","name":"Thermistor","pin":"0","state":"ANALOG","arduino":"d423d15f.04b2d","x":160,"y":540,"wires":[["e8ab5e45.f7d988"]]},{"id":"e8ab5e45.f7d988","type":"function","z":"78f7d588.c3cbb4","name":"Convert To Temp","func":"var temp;\ntemp = Math.log(((10240000 / msg.payload) - 1000));\ntemp = 1 / (0.001129148 + (0.000234125 + (0.0000000876741 * temp * temp)) * temp);\nmsg.payload = Math.floor(temp - 273.15);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[["90d412fc.07e04","7ff7c0d2.6d85f"]]},{"id":"7ff7c0d2.6d85f","type":"function","z":"78f7d588.c3cbb4","name":"Fan Toggle","func":"msg.payload = msg.payload > global.get(\"threshold\");\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["232fd824.f0635","7eda0eb2.f556f"]]},{"id":"a5d032f7.57aa9","type":"function","z":"78f7d588.c3cbb4","name":"Set Threshold","func":"global.set(\"threshold\", msg.payload);","outputs":1,"noerr":0,"x":800,"y":380,"wires":[[]]},{"id":"7eda0eb2.f556f","type":"arduino out","z":"78f7d588.c3cbb4","name":"Fan","pin":"13","state":"OUTPUT","arduino":"d423d15f.04b2d","x":830,"y":600,"wires":[]},{"id":"232fd824.f0635","type":"ui_text","z":"78f7d588.c3cbb4","group":"f5bcdc96.2815e8","order":2,"width":0,"height":0,"name":"","label":"Fan Status","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":560,"wires":[]},{"id":"c93e0b7d.b5bd5","type":"inject","z":"78f7d588.c3cbb4","name":"","topic":"","payload":"{\"payload\" : 10}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0","x":460,"y":280,"wires":[["a5d032f7.57aa9"]]},{"id":"f51aeb3f.9cbe78","type":"ui_group","z":"","name":"Target","tab":"8dcd51c3.25fab","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5bcdc96.2815e8","type":"ui_group","z":"","name":"Current","tab":"8dcd51c3.25fab","order":2,"disp":true,"width":"6","collapse":false},{"id":"143aea61.78a1e6","type":"ui_group","name":"Group 1","tab":"a18cf492.b21f2","order":1,"disp":true,"width":6},{"id":"d423d15f.04b2d","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"8dcd51c3.25fab","type":"ui_tab","z":"","name":"Smart Fan","icon":"toys","order":1,"disabled":false,"hidden":false},{"id":"a18cf492.b21f2","type":"ui_tab","z":"","name":"Memory Game","icon":"gamepad","order":2,"disabled":false,"hidden":false}]
