flows.json
[{"id":"8c6f636.8d95e2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e076ff94.013c8","type":"ui_gauge","z":"8c6f636.8d95e2","name":"","group":"636dacdb.0ce7fc","order":1,"width":0,"height":0,"gtype":"gage","title":"Target Temp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"73ad6dec.16daec","type":"ui_slider","z":"8c6f636.8d95e2","name":"","label":"","tooltip":"","group":"636dacdb.0ce7fc","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":500,"y":440,"wires":[["e076ff94.013c8","793e883a.8445e"]]},{"id":"b92ce200.f4c5d","type":"comment","z":"8c6f636.8d95e2","name":"Target UI","info":"","x":511,"y":400,"wires":[]},{"id":"4f61f147.326f5","type":"ui_gauge","z":"8c6f636.8d95e2","name":"","group":"52a23344.462514","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":540,"wires":[]},{"id":"9665da95.07a2b8","type":"ui_text","z":"8c6f636.8d95e2","group":"4c077b9f.bea1d4","order":2,"width":0,"height":0,"name":"","label":"Leaderboard","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":680,"wires":[]},{"id":"b10f234a.8ce4b8","type":"comment","z":"8c6f636.8d95e2","name":"Current UI","info":"","x":511,"y":480,"wires":[]},{"id":"71736cbc.4180fc","type":"comment","z":"8c6f636.8d95e2","name":"Memory Game","info":"","x":520,"y":640,"wires":[]},{"id":"e392741a.21ec88","type":"comment","z":"8c6f636.8d95e2","name":"Smart Fan","info":"","x":511,"y":360,"wires":[]},{"id":"727afabc.2e7864","type":"function","z":"8c6f636.8d95e2","name":"Convert To Temp","func":"var Temp;\nTemp = Math.log(((10240000/msg.payload) - 9000));\nTemp = 1 / (0.001129148 + (0.000234125 + (0.0000000876741 * Temp * Temp ))* Temp );\nmsg.payload = Math.floor(Temp - 273.15); // Convert Kelvin to Celsius\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[["4f61f147.326f5","8eb04734.6acf9"]]},{"id":"8eb04734.6acf9","type":"function","z":"8c6f636.8d95e2","name":"Fan Toggle","func":"msg.payload = msg.payload > global.get(\"threshold\");\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["ac494984.dbd9b8","80f697f9.46dcf8"]]},{"id":"793e883a.8445e","type":"function","z":"8c6f636.8d95e2","name":"Set Threshold","func":"global.set(\"threshold\", msg.payload);","outputs":1,"noerr":0,"x":800,"y":380,"wires":[[]]},{"id":"ac494984.dbd9b8","type":"ui_text","z":"8c6f636.8d95e2","group":"52a23344.462514","order":2,"width":0,"height":0,"name":"","label":"Fan Status","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":560,"wires":[]},{"id":"d06bca4f.c099e8","type":"arduino in","z":"8c6f636.8d95e2","name":"Temp","pin":"0","state":"ANALOG","arduino":"8baa448c.c39848","x":150,"y":540,"wires":[["727afabc.2e7864"]]},{"id":"6c02f19b.c3684","type":"arduino in","z":"8c6f636.8d95e2","name":"IR","pin":"12","state":"INPUT","arduino":"8baa448c.c39848","x":250,"y":680,"wires":[["9665da95.07a2b8"]]},{"id":"80f697f9.46dcf8","type":"arduino out","z":"8c6f636.8d95e2","name":"Fan","pin":"13","state":"OUTPUT","arduino":"8baa448c.c39848","x":820,"y":620,"wires":[]},{"id":"f3c63e86.ccc4c8","type":"arduino out","z":"8c6f636.8d95e2","name":"LEFT_BOTTOM","pin":"9","state":"OUTPUT","arduino":"8baa448c.c39848","x":640,"y":780,"wires":[]},{"id":"46369b81.898d84","type":"arduino out","z":"8c6f636.8d95e2","name":"BOTTOM","pin":"8","state":"OUTPUT","arduino":"8baa448c.c39848","x":620,"y":820,"wires":[]},{"id":"d13d1025.eab0c8","type":"arduino out","z":"8c6f636.8d95e2","name":"RIGHT_BOTTOM","pin":"7","state":"OUTPUT","arduino":"8baa448c.c39848","x":650,"y":860,"wires":[]},{"id":"f88063ff.a8cde","type":"arduino out","z":"8c6f636.8d95e2","name":"DECIMAL POINT","pin":"6","state":"OUTPUT","arduino":"8baa448c.c39848","x":650,"y":900,"wires":[]},{"id":"1ee58870.e49fe","type":"arduino out","z":"8c6f636.8d95e2","name":"MIDDLE","pin":"5","state":"OUTPUT","arduino":"8baa448c.c39848","x":620,"y":940,"wires":[]},{"id":"838dc9d2.42167","type":"arduino out","z":"8c6f636.8d95e2","name":"LEFT_TOP","pin":"4","state":"OUTPUT","arduino":"8baa448c.c39848","x":630,"y":980,"wires":[]},{"id":"1649845b.c04254","type":"arduino out","z":"8c6f636.8d95e2","name":"TOP","pin":"3","state":"OUTPUT","arduino":"8baa448c.c39848","x":610,"y":1020,"wires":[]},{"id":"56813e2a.9d981","type":"arduino out","z":"8c6f636.8d95e2","name":"RIGHT_TOP","pin":"2","state":"OUTPUT","arduino":"8baa448c.c39848","x":630,"y":1060,"wires":[]},{"id":"6d15674d.afcbb","type":"function","z":"8c6f636.8d95e2","name":"Number OUTPUT","func":"var msg1 = {payload:false};\nvar msg2 = {payload:false};\nvar msg3 = {payload:false};\nvar msg4 = {payload:false};\nvar msg5 = {payload:false};\nvar msg6 = {payload:false};\nvar msg7 = {payload:false};\nvar msg8 = {payload:false};\nswitch(msg.payload)\n{\n    case 0:\n        msg1={payload:true};\n        msg2={payload:true};\n        msg3={payload:true};\n        msg6={payload:true};\n        msg7={payload:true};\n        msg8={payload:true};\n        break;\n    case 1:\n        msg3={payload:true};\n        msg8={payload:true};\n        break;\n    case 2:\n        msg1={payload:true};\n        msg2={payload:true};\n        msg5={payload:true};\n        msg7={payload:true};\n        msg8={payload:true};\n        break;\n    case 3:\n        msg2={payload:true};\n        msg3={payload:true};\n        msg5={payload:true};\n        msg7={payload:true};\n        msg8={payload:true};\n        break;\n    case 4:\n        msg3={payload:true};\n        msg5={payload:true};\n        msg6={payload:true};\n        msg8={payload:true};\n        break;\n    case 5:\n        msg2={payload:true};\n        msg3={payload:true};\n        msg5={payload:true};\n        msg6={payload:true};\n        msg7={payload:true};\n        break;\n    case 6:\n        msg1={payload:true};\n        msg2={payload:true};\n        msg3={payload:true};\n        msg5={payload:true};\n        msg6={payload:true};\n        msg7={payload:true};\n        break;\n    case 7:\n        msg3={payload:true};\n        msg7={payload:true};\n        msg8={payload:true};\n        break;\n    case 8:\n        msg1={payload:true};\n        msg2={payload:true};\n        msg3={payload:true};\n        msg5={payload:true};\n        msg6={payload:true};\n        msg7={payload:true};\n        msg8={payload:true};\n        break;\n    case 9:\n        msg2={payload:true};\n        msg3={payload:true};\n        msg5={payload:true};\n        msg6={payload:true};\n        msg7={payload:true};\n        msg8={payload:true};\n        break;\n}\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];","outputs":8,"noerr":0,"x":390,"y":920,"wires":[["f3c63e86.ccc4c8"],["46369b81.898d84"],["d13d1025.eab0c8"],["f88063ff.a8cde"],["1ee58870.e49fe"],["838dc9d2.42167"],["1649845b.c04254"],["56813e2a.9d981"]]},{"id":"d39102a0.14a23","type":"ui_numeric","z":"8c6f636.8d95e2","name":"","label":"numeric","tooltip":"","group":"d830bc1a.b452e","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"9","step":1,"x":220,"y":920,"wires":[["6d15674d.afcbb"]]},{"id":"7800dd3f.28a21c","type":"inject","z":"8c6f636.8d95e2","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":920,"wires":[["d39102a0.14a23"]]},{"id":"32522e95.4a1eda","type":"comment","z":"8c6f636.8d95e2","name":"7 segment display","info":"","x":390,"y":800,"wires":[]},{"id":"4d8fe1f2.52535","type":"ui_gauge","z":"8c6f636.8d95e2","name":"","group":"f1313017.721b7","order":1,"width":0,"height":0,"gtype":"gage","title":"Outside Temp","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":280,"wires":[]},{"id":"ab41201b.0ddc2","type":"openweathermap in","z":"8c6f636.8d95e2","name":"Current Weather","wtype":"current","lon":"","lat":"","city":"Melbourne","country":"Australia","language":"en","x":280,"y":280,"wires":[["f050a32a.c3444"]]},{"id":"f050a32a.c3444","type":"function","z":"8c6f636.8d95e2","name":"Pull Outside Temp","func":"msg.payload = Math.floor(msg.payload.tempc);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["4d8fe1f2.52535"]]},{"id":"636dacdb.0ce7fc","type":"ui_group","z":"","name":"Target Temp","tab":"91863999.b607a","order":3,"disp":true,"width":"6","collapse":false},{"id":"52a23344.462514","type":"ui_group","z":"","name":"Current","tab":"91863999.b607a","order":2,"disp":true,"width":"6","collapse":false},{"id":"4c077b9f.bea1d4","type":"ui_group","name":"Group 1","tab":"bfde2ba2.878a18","order":1,"disp":true,"width":6},{"id":"8baa448c.c39848","type":"arduino-board","z":"","device":"COM3"},{"id":"d830bc1a.b452e","type":"ui_group","z":"","name":"Players","tab":"bfde2ba2.878a18","disp":true,"width":"6","collapse":false},{"id":"f1313017.721b7","type":"ui_group","z":"","name":"Outside Temp","tab":"91863999.b607a","order":1,"disp":true,"width":"6","collapse":false},{"id":"91863999.b607a","type":"ui_tab","z":"","name":"Smart Fan","icon":"toys","order":1,"disabled":false,"hidden":false},{"id":"bfde2ba2.878a18","type":"ui_tab","z":"","name":"Memory Game","icon":"gamepad","order":2,"disabled":false,"hidden":false}]