pageswitching/flows.json
[{"id":"3e32edd6.f7bf5a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d1b82a5.0b2e85","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"264390e5.ca48e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#4e00ff","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#460979","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#460979","edited":true},"page-titlebar-backgroundColor":{"value":"#460979","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6f0ec0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#460979","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c7f2b7e8.551d28","type":"ui_tab","z":"","name":"Page 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b93cad8e.49cd48","type":"ui_group","z":"","name":"Group 1","tab":"c7f2b7e8.551d28","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ee0cfce.4e8b1","type":"ui_group","z":"","name":"Dashboard","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"226ddf2b.f5629","type":"ui_group","name":"Group 2","tab":"c7f2b7e8.551d28","order":2,"disp":true,"width":6},{"id":"8cbd4c08.d9d62","type":"ui_group","z":"","name":"Menu","tab":"","disp":true,"width":"6","collapse":false},{"id":"623fcd49.5e250c","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"d0441c46.bca848","type":"ui_group","z":"","name":"Group 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"98ce49e.d0a61b8","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"c287447d.dc2ce","type":"ui_group","z":"","name":"Menu","tab":"358de311.372944","disp":true,"width":"6","collapse":false},{"id":"11338189.6f17de","type":"ui_group","z":"","name":"Group 2","tab":"358de311.372944","order":3,"disp":true,"width":"6","collapse":false},{"id":"f92b5607.98472","type":"ui_group","z":"","name":"Group 1","tab":"358de311.372944","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b79530d.2b00c4","type":"ui_group","z":"","name":"Group 3","tab":"358de311.372944","order":4,"disp":true,"width":"6","collapse":false},{"id":"358de311.372944","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"ef3a250.edc4758","type":"arduino in","z":"3e32edd6.f7bf5a","name":"Button","pin":"7","state":"INPUT","arduino":"1d1b82a5.0b2e85","x":400,"y":500,"wires":[["ecedde0c.2437e"]]},{"id":"ecedde0c.2437e","type":"function","z":"3e32edd6.f7bf5a","name":"","func":"var pageSwitch = flow.get('pageSwitch') || false;\nif (msg.payload) pageSwitch = !pageSwitch; // toggle page state\nflow.set('pageSwitch', pageSwitch); // set the flow variable\n\nmsg.payload = pageSwitch ?\n    {group: {hide: [\"Page_1_Group_1\"], show: [\"Page_1_Group_2\"]}} :\n    {group: {hide: [\"Page_1_Group_2\"], show: [\"Page_1_Group_1\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":500,"wires":[["8b067947.83a61"]]},{"id":"8b067947.83a61","type":"ui_ui_control","z":"3e32edd6.f7bf5a","name":"","x":760,"y":500,"wires":[[]]},{"id":"e325d2d.5060b3","type":"inject","z":"3e32edd6.f7bf5a","name":"start state","topic":"","payload":"{\"group\": {\"hide\": [\"Page_1_Group_2\"], \"show\": [\"Page_1_Group_1\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.0","x":570,"y":460,"wires":[["8b067947.83a61"]]},{"id":"5916b0a8.adbfa8","type":"ui_text","z":"3e32edd6.f7bf5a","group":"b93cad8e.49cd48","order":0,"width":0,"height":0,"name":"","label":"Group 1","format":"","layout":"col-center","x":420,"y":640,"wires":[]},{"id":"d0bf2357.3aa16","type":"ui_text","z":"3e32edd6.f7bf5a","group":"226ddf2b.f5629","order":0,"width":0,"height":0,"name":"","label":"Group 2","format":"{{msg.payload}}","layout":"col-center","x":420,"y":680,"wires":[]}]